body
 background-color #f9f9f9
 margin 0

h1, h2, h3, h4, h5, h6
    font-family:  AvenirNext-DemiBold, Helvetica, sans-serif

.space-100
  height 100px
.space-200
  height 200px
.space-300
  height 300px
.space-400
  height 400px
.poster
  background-repeat no-repeat
  background-size 100%

.light-text
  color #DDD
.banner-text
  padding 0 20px
.sans
  font-family Lato
  font-size 22px !important
  line-height 1.6 !important
.text-box
  padding 20px
  max-width 500px
  font-size 18px
  line-height 1.4
  margin 24px
  border-radius 2px
.item-container
  max-width 1200px
  margin auto
  height 90%
  padding 40px
